
<div>
<span style="background-color:red;display:inline-block;heigth:30px;width:10px">
1
</span>
<span style="border:1px solid black;display:inline-block;width:200px;height:30px">导航</span>
</div>

<iframe src="index.html" width="200px" height="100px">  </iframe>




<div style="width:200px">

 {% load staticfiles %}
<img src="{% static 'github1.jpg' %}" style="width:100px;height:100px"/>
<h3>博客:个人博客</h3>
<h3>昵称:金色旭光</h3>
</div>

<div style="height:100px"">
<h3>博文分类</h3>
</div>
<div style="height:100px"">
<h3>博文档案</h3>
</div>
<div style="height:100px"">
<h3>评论排行榜</h3>
</div>
<div style="height:100px"">
<h3>推荐排行榜</h3>
</div>
