<div>
<span style="border:1px solid #EEDFCC;display:inline-block;width:90%;height:30px;border-left-width:5px;border-left-color:green;">导航</span>
</div>


<div style="display:text-align;center;margin:10px 0 0 0;">
<div  onclick="window.location.href='/blog'" style="width:35px;height:35px;background-color:#C0FF3E;border-radius:50%;text-align:center;line-height:40px;border:1px solid #6A5ACD;display:inline-block;margin:0 0 0 20px;">
首页
</div>
<div style="width:35px;height:35px;background-color:#C0FF3E;border-radius:50%;text-align:center;line-height:40px;border:1px solid #6A5ACD;display:inline-block;top:50%;left:50%;margin:0 0 0 22px;">
订阅
</div>
<div style="width:35px;height:35px;background-color:#C0FF3E;border-radius:50%;text-align:center;line-height:40px;border:1px solid #6A5ACD;display:inline-block;margin:0 0 0 22px;">
联系
</div>
</div>
<div style="border:1px solid #EEDFCC;display:inline-block;width:90%;height:30px;border-left-width:5px;border-left-color:green;margin:20px 0 0 0";>
公告
</div>
<div style="width:200px;margin:20px 0 0 0;">

<div style="text-align:center;">
 {% load staticfiles %}
<img src="{% static 'github4.png' %}" style="width:150px;height:150px"/>
</div>
 {% load staticfiles %}
<h3>博客:个人博客</h3>
<h3>昵称:金色旭光</h3>
</div>

<div style="border:1px solid #EEDFCC;display:inline-block;width:90%;height:30px;border-left-width:5px;border-left-color:green;margin:20px 0 0 0;">
博文分类
</div>

{% for key,value  in art_type.items %}
<p style="text-align:left">{{key}}:{{value}}</p>
{%endfor%}
<div style="border:1px solid #EEDFCC;display:inline-block;width:90%;height:30px;border-left-width:5px;border-left-color:green;margin:20px 0 0 0;">
博文档案
</div>

{% for key,value  in art_docu.items %}
<p style="text-align:left">{{ key }}:{{ value }}</p>
{%endfor%}
<div style="border:1px solid #EEDFCC;display:inline-block;width:90%;height:30px;border-left-width:5px;border-left-color:green;margin:20px 0 0 0;">
评论排行榜
</div>

<div style="border:1px solid #EEDFCC;display:inline-block;width:90%;height:30px;border-left-width:5px;border-left-color:green;margin:20px 0 0 0;">
推荐排行榜
</div>
