<div>
<span style="border:1px solid black;display:inline-block;width:200px;height:30px">导航</span>
</div>


<div style="margin:0px auto;background-color:red;display:text-align;center;">
<div style="width:40px;height:40px;background-color:#C0FF3E;border-radius:50%;text-align:center;line-height:40px;border:1px solid #6A5ACD;display:inline-block;">
首页
</div>
<div style="width:40px;height:40px;background-color:#C0FF3E;border-radius:50%;text-align:center;line-height:40px;border:1px solid #6A5ACD;display:inline-block;top:50%;left:50%">
订阅
</div>
<div style="width:40px;height:40px;background-color:#C0FF3E;border-radius:50%;text-align:center;line-height:40px;border:1px solid #6A5ACD;display:inline-block;">
联系
</div>
</div>
<div style="width:200px">

 {% load staticfiles %}
<img src="{% static 'github1.jpg' %}" style="width:100px;height:100px"/>
<h3>博客:个人博客</h3>
<h3>昵称:金色旭光</h3>
</div>

<div style="height:100px"">
<h3>博文分类</h3>
</div>
<div style="height:100px"">
<h3>博文档案</h3>
</div>
<div style="height:100px"">
<h3>评论排行榜</h3>
</div>
<div style="height:100px"">
<h3>推荐排行榜</h3>
</div>
